@use '../../styles/variables' as v;

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: v.$tertiary-1;
}

.title {
  margin-bottom: 5rem;
  color: v.$secondary-2;
}

.item {
  margin-bottom: 3.2rem;
}

