@use '../../styles/variables';

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #252427;
}

.title {
  margin-bottom: 5rem;
  color: #C0C0C0;
}

.item {
  margin-bottom: 3.2rem;
}

