@use '../../styles/variables' as v;

.item {
  height: 100%;
  border: 2px solid v.$primary-1;
  color: v.$secondary-1;
}

.inner {
  padding: 2rem;
  height: 20rem;
  border-bottom: 2px solid v.$primary-1;
}

.image {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.innerBottom {
  padding: 2rem;
}

.title {
  color: v.$primary-2;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
